{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

<div class="container text-center">
    <div class="jumbotron mt-5">
        <h1>Kevin Nadeau</h1>
        <p class="lead">
            Ce site est une vitrine de nos voyages 
            <br>
            Voici les routes
            <br> 
            <b>connexion à l'espace d'admin</b> => /admin/login
            <br>
            <b>voir les voyages</b> => /admin/voyages
        </p>
        <hr class="my-5">
        <p class="lead">
            <a href="" class="btn btn-primary btn-lg" role ="button"></a>
        </p>
    </div>
</div>

{% endblock %}
